:root {
    --main-color: #0077b5;
    --hover-color: #005682;
    --active-color: #004c7a;
    --text-color: #333;
    --background-color: #f4f7f6;
    --font-family-main: 'Segoe UI', Arial, sans-serif;
    --font-family-title: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-family-main);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

.title {
    font-family: var(--font-family-title);
    text-align: center;
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 15px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    }
}

.subtitle {
    text-align: left;
    color: #4A4A4A;
    font-weight: 400;
    font-size: 1.1rem;
    max-width: 90%;
    margin: 20px auto;
    line-height: 1.6;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(0, 119, 181, 0.1);
    border-left: 4px solid var(--main-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-subtitle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 0 auto;
}

.section-subtitle {
    text-align:center;
    color: var(--main-color);
    font-size: 1.4rem;
    font-weight: 500;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap; /* added line to keep the content on a single line */
}


.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.input-option {
    margin-bottom: 20px;
}

select, input[type="text"], input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.25s;
}

select:hover, input[type="text"]:hover, input[type="file"]:hover,
select:focus, input[type="text"]:focus, input[type="file"]:focus {
    border-color: var(--hover-color);
    outline: none;
}

button {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.25s, transform 0.2s;
}

button:hover {
    background-color: var(--hover-color);
    transform: translateY(-2px) scale(1.02);
}

button:active, .button-clicked {
    background-color: var(--active-color);
}

button:focus-visible, select:focus-visible, input:focus-visible {
    outline: 3px solid var(--hover-color);
    outline-offset: 2px;
}

.results-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.result {
    width: calc(50% - 10px);
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

.result:first-child {
    margin-right: 20px;
}

.action-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.match-result {
    width: 100%;
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px;
}

.loading-indicator {
    background-color: var(--main-color);
    height: 4px;
    width: 0%; /* Start width */
    visibility: hidden; /* Initially hidden */
    position: fixed; /* Makes the loader fixed at the top */
    top: 0;
    left: 0;
    transition: width 2.5s ease-in-out, visibility 0s linear 0.5s; /* Add visibility transition */
}

.loading-indicator.show {
    width: 100%; /* Full width when active */
    visibility: visible; /* Make visible when active */
    transition-delay: 0s; /* Apply transition delay for visibility */
}


a {
    color: var(--main-color);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container, .input-form {
        padding: 10px;
    }

    .section-subtitle {
        font-size: 1.2rem;
    }

    button {
        padding: 8px 12px;
        font-size: 14px;
    }

    .results-container {
        flex-direction: column;
    }
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.right-align {
    text-align: right;
}

