<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkedMetrics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1 class="title">LinkedMetrics</h1>
            <p class="subtitle">An AI-powered application for analyzing, parsing, and matching LinkedIn profiles with job descriptions.</p>
        </header>
        
        <main>
            <section aria-labelledby="formSection">
                <h2 id="formSection" class="visually-hidden">Profile and Job Analysis Form</h2>
                <div class="section-subtitle-wrapper">
                    <p class="section-subtitle">Profile and Job Analysis</p>
                </div>
                <form id="inputForm" class="input-form" enctype="multipart/form-data">
                    <select id="inputType" onchange="toggleInputMethod()">
                        <option value="linkedin">LinkedIn Profile</option>
                        <option value="resume">PDF Resume</option>
                    </select>

                    <div id="linkedinInput" class="input-option">
                        <input type="text" id="profile_url" placeholder="Enter LinkedIn profile URL"/>
                        <button type="button" onclick="analyzeProfile()">Analyze Profile</button>
                    </div>
                    <div id="resumeInput" class="input-option" style="display: none;">
                        <input type="file" id="resume" name="resume"/>
                        <button type="button" onclick="uploadAndAnalyzeResume()">Upload and Analyze Resume</button>
                    </div>
                    <input type="text" id="job_url" placeholder="Enter LinkedIn job URL"/>
                    <button type="button" onclick="analyzeJob()">Analyze Job</button>
                </form>
            </section>
            
            <section aria-labelledby="resultsSection">
                <h2 id="resultsSection" class="visually-hidden">Analysis Results</h2>
                <div class="section-subtitle-wrapper">
                    <p class="section-subtitle">Analysis Results</p>
                </div>
                <div class="analysis-container">
                    <div class="results-container">
                        <div id="profileAnalysisResult" class="result profile-result"></div>
                        <div id="jobAnalysisResult" class="result job-result"></div>
                    </div>
                    <div id="matchResult" class="match-result"></div>
                </div>
                <div class="action-container">
                    <button type="button" onclick="matchProfiles()" class="match-button">Match Profiles</button>
                </div>
            </section>
            <div id="loadingIndicator" class="loading-indicator" style="display: none;"></div>
        </main>
        
    </div>
    
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
